body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.reset {
  display: none;
  width: 200px;
  background-color: #FEC959;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  font-size: x-large;
  padding: 5px;

}

.winnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}


img {
  width: 100px;

}

.playerImgs,
.computerImgs {
  border-radius: 5px;
  border: 2px solid rgb(105, 105, 105);
  padding: 20px;
}